

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    margin: 0;
}


.topNav {
    font-size: 18px;
    transition: 0.8s ease-in-out;
    padding: 25px 15px 20px 15px;
    margin-bottom: 0;
    &:hover {
        background-color: white;
        .buttonNav {
            color: rgb(0, 0, 0);
        }
        .buttonRight {
            color: rgb(0, 0, 0);
        }
        .buttonHome {
            color: rgb(0, 0, 0);
        }
    }
}

.buttonNav {
    color: white;
    text-decoration: none;
    margin-left: 3%;
    padding-bottom: 18px;
    &:hover {
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}

.buttonRight {
    float: right;
    margin-right: 3%;
    text-decoration: none;
    color: white;
    padding-bottom: 18px;
    &:hover {
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}
.buttonHome {
    text-decoration: none;
    color: white;
    margin-left: 3%;
    padding-bottom: 18px;
    &:hover {
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}


.bigPaper {
    text-align: center;
    color: white;
    background-image: url(../img/homePage/djibackground.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1250px;
    width: auto;
    background-color: black;
    .paperTitle {
        margin-top: 0;
        padding-top: 23%;
        font-size: 75px;
        margin-bottom: 0;
    }
    .paperSubTitle {
        margin-top: 0;
        font-size: 35px;
        margin-bottom: 10%;
    }
    .paperAppear {
        font-size: 55px;
        margin-top: 4%;
        margin-bottom: 0;
    }
}


.elementDrone {
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
    height: 2000px;
    color: white;
    font-size: 40px;
    .elemFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .droneText {
        margin-right: 5%;
        margin-left: 5%;
        text-shadow: 2px 2px 0px rgb(65, 65, 65);
        font-weight: 900;
    }
    .imgElem {
        width: 35%;
    }
}

.droneContainer {
    color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .containerFlex {
        display: flex;
        justify-content: center;
        height: 600px;
    }
    .droneTextClass {
        margin-top: 5%;
        margin-right: 10%;
        font-size: 35px;
        width: 535px;
    }
    .colorTextDrone {
        color: rgb(240, 62, 62);
        font-weight: 900;
        transition: 0.5s ease-in-out;
    }
    .imgContainer {
        width: 850px;
        height: 500px;
    }
}

input[type=range] {
  width: 100%;
  margin: 12.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgb(240, 62, 62);
  border: 0.2px solid #010101;
  border-radius: 50px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -6.5px;
  width: 10px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(240, 62, 62);
}
input[type=range]::-moz-range-track {
  background: rgb(240, 62, 62);
  border: 0.2px solid #010101;
  border-radius: 50px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13.3px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: rgb(240, 62, 62);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: rgb(240, 62, 62);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(240, 62, 62);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(240, 62, 62);
}
.slideContainer {
    margin-bottom: 15%;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    &:hover {
        transform: scale(1.2);
        opacity: 1;
    }
}

.specGlobal {
    display: flex;
    justify-content: center;
    height: 800px;
    font-size: 20px;
    .spec {
        color: white;
    }
    .videoUnreal {
        color: white;
        text-align: center;
    }
}

.specGlobal2 {
    margin-bottom: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.class4k60fps {
    color: rgb(240, 62, 62);
    margin-bottom: 0;
    font-size: 70px;
    transition: 0.5s ease-in-out;
    &:hover {
        text-shadow: 2px 2px 0px white;
    }
}
.mbps {
    color: rgb(240, 62, 62);
    margin-bottom: 0;
    font-size: 70px;
    transition: 0.5s ease-in-out;
    &:hover {
        text-shadow: 2px 2px 0px white;
    }
}

.airFlow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 1300px;
    .titleAir {
      font-size: 60px;  
    }
    .subTitleAir {
        font-size: 25px;
    }
    .airFlowVideo {
        margin-top: 5%;
    }
    .colorText {
        color: rgb(240, 62, 62);
        font-weight: 700;
    }
}

.otherSpec {
    background-image: url(../img/homePage/dji_fpv_drone_15.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 800px;
    width: auto;
    color: white;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    .specOne {
        margin-top: 5%;
        width: 285px;
        font-size: 20px;
    }
    .specTwo {
        margin-top: 5%;
        width: 285px;
        font-size: 20px;
        margin-left: 8%;
    }
    .specThree {
        margin-top: 5%;
        width: 285px;
        font-size: 20px;
        margin-left: 8%;
    }
}

.subText {
    color: rgb(240, 62, 62);
    font-size: 50px;
    font-weight: 700;
    transition: 0.5s ease-in-out;
    &:hover {
        text-shadow: 2px 2px 0px white;
    }
}

.fakeJiBuy {
    margin-top: 10%;
    height: 1300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
    .imgBuy {
        width: 40%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .boxInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 700px;
    }
    .buyTitle {
        font-size: 45px;
        margin-bottom: 0;
    }
    .buSubTitle {
        font-size: 25px;
        margin-top: 2%;
    }
    .buyPrice {
        font-size: 25px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: 700;
    }
    .legalInfo {
        font-size: 12px;
    }
}

.buyLink {
    padding: 15px;
    border: 12px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        background-color: black;
        color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px white;
        transform: translateY(-8px);
    }
}

.boxText {
    border: 1.5px solid gray;
    padding: 10px;
    margin: 5px;
    transition: 0.5s ease-in-out;
    &:hover {
        color: black;
        background-color: white;
        box-shadow: 2px 2px 2px black;
        transform: translateY(-5px);
    }
}

.footerNav {
    display: flex;
    justify-content: center;
    background: rgb(65,65,65);
    // background: rgb(58, 58, 58);
    height: 400px;
    .colone {
        display: flex;
        flex-direction: column;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .colTextTitle {
        color: white;
        text-shadow: 1px 1px 2px black;
        font-size: 20px;
        font-weight: 400;
    }
}

.colText {
    text-decoration: none;
    color: rgb(173, 172, 172);
    font-size: 17px;
    margin-top: 8%;
    transition: 0.5s ease-in-out;
    &:hover {
        color: rgb(240, 62, 62);
        font-size: 18px;
    }
}
