

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.topNav {
    font-size: 16px;
    transition: 0.8s ease-in-out;
    padding: 25px 15px 20px 15px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1.5px solid gray;
    background-color: black;
    text-decoration: none;
}

.buttonNav {
    color: white;
    text-decoration: none;
    margin-left: 3%;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}

.buttonRight {
    margin-left: 8%;
    text-decoration: none;
    color: white;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}
.buttonHome {
    text-decoration: none;
    color: white;
    margin-left: 3%;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}

.productNav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .productGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: 0.5s ease-in-out;
        &:hover {
            transform: translateY(-6px);
            color: #4285F4;
        }
    }
    .imgProduct {
        width: 90px;
        height: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .textImgNav {
        margin-top: 5px;
    }
}





.footerNav {
    display: flex;
    justify-content: center;
    background: white;
    // background: rgb(58, 58, 58);
    height: 400px;
    .colone {
        display: flex;
        flex-direction: column;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .colTextTitle {
        color: black;
        font-size: 20px;
        font-weight: 400;
    }
}

.colText {
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-size: 17px;
    margin-top: 8%;
    transition: 0.5s ease-in-out;
    &:hover {
        color: rgb(240, 62, 62);
        font-size: 18px;
    }
}