

body {
    // background-color: rgb(255, 255, 255);
    background: rgb(205,205,205);
    background: linear-gradient(90deg, rgba(218,216,216,1) 0%, rgba(237,237,237,1) 100%);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.topNav {
    font-size: 16px;
    transition: 0.8s ease-in-out;
    padding: 25px 15px 20px 15px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1.5px solid gray;
    background-color: black;
    text-decoration: none;
}

.buttonNav {
    color: white;
    text-decoration: none;
    margin-left: 3%;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}

.buttonRight {
    margin-left: 8%;
    text-decoration: none;
    color: white;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}
.buttonHome {
    text-decoration: none;
    color: white;
    margin-left: 3%;
    padding-bottom: 18px;
    transition: 0.5s ease-in-out;
    &:hover {
        color:  #4285F4;
        border-bottom: 2px solid rgb(255, 255, 255);
        text-decoration: none;
    }
}

.productNav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .productGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: 0.5s ease-in-out;
        &:hover {
            transform: translateY(-6px);
            color: #4285F4;
        }
    }
    .imgProduct {
        width: 90px;
        height: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .textImgNav {
        margin-top: 5px;
    }
}

.bigBackground{
    background-image: url(../img/storeHomePage/mini2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 390px;
    .mavicTitle{
        padding-top: 10%;
        margin-left: 20%;
        margin-bottom: 0;
    }
    .subText {
        font-size: 18px;
        margin-top: 0;
        margin-left: 20%;
    }
}

.threeCard {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
    .new {
        color: rgb(238, 108, 61);
        margin-bottom: 0;
    }
    .info1 {
        font-size: 13px;
        font-weight: 700;
        margin-top: 35px;
    }
    .info2 {
        font-size: 16px;
        margin-top: 45px;
        color: gray;
    }
    .priceCard{
        margin-top: 60px;
        font-size: 19px;
        font-weight: 700;
    }
    .air2S{
        background-color: white;
        // border-radius: 8px;
        width: 400px;
        padding: 25px;
    }
    .pocket2{
        background-color: white;
        // border-radius: 8px;
        margin-left: 20px;
        width: 400px;
        padding: 25px;
    }
    .fpvCombo{
        background-color: white;
        // border-radius: 8px;
        margin-left: 20px;
        width: 400px;
        padding: 25px;
    }
}


.footerNav {
    display: flex;
    justify-content: center;
    background: white;
    // background: rgb(58, 58, 58);
    height: 400px;
    .colone {
        display: flex;
        flex-direction: column;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .colTextTitle {
        color: black;
        font-size: 20px;
        font-weight: 400;
    }
}

.colText {
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-size: 17px;
    margin-top: 8%;
    transition: 0.5s ease-in-out;
    &:hover {
        text-decoration: none;
        color: #4285F4;
        font-size: 18px;
    }
}