body {
  background: #cdcdcd;
  background: -webkit-gradient(linear, left top, right top, from(#dad8d8), to(#ededed));
  background: linear-gradient(90deg, #dad8d8 0%, #ededed 100%);
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.topNavMedia {
  display: none;
  height: 0;
}

.topNav {
  position: fixed;
  z-index: 1;
  font-size: 18px;
  padding: 15px 15px 20px 15px;
  margin-bottom: 0;
  background-color: #e4e4e4;
  border-radius: 0 0 8px 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.burgerMenuDesk {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonNav {
  color: black;
  text-decoration: none;
  margin-left: 3%;
  padding: 12px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonNav:hover {
  color: #4285F4;
  text-decoration: none;
}

.buttonRight {
  float: right;
  margin-right: 3%;
  text-decoration: none;
  color: black;
  font-weight: 700;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonRight:hover {
  color: #4285F4;
  text-decoration: none;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.productNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  margin-bottom: 20px;
}

.productNav .productGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.productNav .productGroup:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  color: #4285F4;
}

.productNav .imgProduct {
  width: 90px;
  height: 90px;
  margin-left: 25px;
  margin-right: 25px;
}

.productNav .textImgNav {
  margin-top: 5px;
}

.bigBackground {
  background-image: url(../img/storeHomePage/mini2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 390px;
}

.bigBackground .mavicTitle {
  padding-top: 10%;
  margin-left: 20%;
  margin-bottom: 0;
}

.bigBackground .subText {
  font-size: 18px;
  margin-top: 0;
  margin-left: 20%;
}

.threeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 1%;
}

.threeCard .new {
  color: #ee6c3d;
  margin-bottom: 0;
}

.threeCard .info1 {
  font-size: 13px;
  font-weight: 700;
  margin-top: 35px;
  padding: 0 15px;
}

.threeCard .info2 {
  font-size: 16px;
  margin-top: 45px;
  color: gray;
  padding: 0 15px;
}

.threeCard .priceCard {
  margin-top: 60px;
  font-size: 19px;
  font-weight: 700;
  padding: 15px;
}

.threeCard .air2S {
  background-color: white;
  width: 400px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.threeCard .air2S:hover {
  -webkit-box-shadow: 12px 12px 20px #b1b1b1;
          box-shadow: 12px 12px 20px #b1b1b1;
}

.threeCard .air2S:hover .air2SHover {
  display: block;
  width: 300px;
  margin-left: 60px;
}

.threeCard .air2S:hover .backAir2S {
  display: none;
}

.threeCard .pocket2 {
  background-color: white;
  margin-left: 20px;
  width: 400px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.threeCard .pocket2:hover {
  -webkit-box-shadow: 12px 12px 20px #b1b1b1;
          box-shadow: 12px 12px 20px #b1b1b1;
}

.threeCard .pocket2:hover .pocketHover {
  display: block;
  width: 300px;
  margin-left: 50px;
}

.threeCard .pocket2:hover .backPocket {
  display: none;
}

.threeCard .fpvCombo {
  background-color: white;
  margin-left: 20px;
  width: 400px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.threeCard .fpvCombo:hover {
  -webkit-box-shadow: 12px 12px 20px #b1b1b1;
          box-shadow: 12px 12px 20px #b1b1b1;
}

.threeCard .fpvCombo:hover .fpvHover {
  display: block;
  width: 385px;
  margin-left: 20px;
}

.threeCard .fpvCombo:hover .backFpv {
  display: none;
}

.fpvHover {
  display: none;
}

.pocketHover {
  display: none;
}

.air2SHover {
  display: none;
}

.backFpv {
  background-image: url(../img/storeHomePage/fpvcombo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.backPocket {
  background-image: url(../img/storeHomePage/pocketdji.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.backAir2S {
  background-image: url(../img/storeHomePage/drone1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cardTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
  font-size: 16px;
  margin-bottom: 10%;
}

.cardTwo .cardLeft {
  background-image: url(../img/storeHomePage/djicare.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 560px;
  height: 357px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.cardTwo .cardLeft:hover {
  -webkit-box-shadow: 12px 12px 20px #b1b1b1;
          box-shadow: 12px 12px 20px #b1b1b1;
}

.cardTwo .cardRight {
  background-image: url(../img/storeHomePage/djicoins.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 560px;
  height: 357px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.cardTwo .cardRight:hover {
  -webkit-box-shadow: 12px 12px 20px #b1b1b1;
          box-shadow: 12px 12px 20px #b1b1b1;
}

.cardTwo .cardTitle1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10%;
}

.cardTwo .cardTitle2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 400px;
}

.footerNav .colone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.footerNav .colTextTitle {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.colText {
  text-decoration: none;
  color: #727272;
  font-size: 17px;
  margin-top: 8%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.colText:hover {
  text-decoration: none;
  color: #4285F4;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .topNav {
    display: none;
  }
  .topNavMedia {
    position: fixed;
    z-index: 1;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #e4e4e4;
    overflow: hidden;
    margin-bottom: 5%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 100%;
  }
  .topNavMedia .burgerMenu {
    width: 20px;
    height: 20px;
    margin: 5% 0 3% 3%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .buttonRight {
    margin-top: 10%;
    margin-left: 3%;
    color: black;
  }
  .productNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .threeCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .threeCard .air2S {
    margin-bottom: 15px;
  }
  .threeCard .pocket2 {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .threeCard .fpvCombo {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .cardTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardTwo .cardLeft {
    width: auto;
    margin: unset;
    margin-bottom: 15px;
    height: 260px;
  }
  .cardTwo .cardRight {
    width: auto;
    height: 225px;
    margin: unset;
  }
  .footerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  hr {
    display: none;
  }
}
/*# sourceMappingURL=storeHome.css.map */